@base(iu)

@base(s)
0 (s) 60 @derived(min)
0 (s) 3600 @derived(h)
0 (s) 86400 @derived(d)

@base(m)
0 (m) 1e3 @derived(km)
0 (m) 1e-2 @derived(cm)
0 (m) 1e-3 @derived(mm)
0 (m) 1e-6 @derived(um)
0 (m) 1e-9 @derived(nm)
0 (m) 1e-12 @derived(pm)

0 (m) 1 3.280839895 / @derived(ft)
0 (m) 1 39.37007874 / @derived(in)
0 (m) 1 1.093613298 / @derived(yd)
0 (m) 1 0.0006213712 / @derived(mi)

@base(K)
273.15 (K) 1 @derived(degC)
_-5 9 / 32 * (degC) 5 9 / @derived(degF)

@base(mol)
0 (mol) 1e3 @derived(kmol)
0 (mol) 1e-3 @derived(mmol)
0 (mol) 1e-6 @derived(umol)
0 (mol) 1e-9 @derived(nmol)
0 (mol) 1e-12 @derived(pmol)

@base(l)
0 (l) 1e-1 @derived(dl)
0 (l) 1e-3 @derived(ml)
0 (l) 1e-6 @derived(ul)
0 (l) 1e-9 @derived(nl)
0 (l) 3.785411784 @derived(gal)

0 (mol) 1 (l) / 1 @derived(M)
0 (mol) 1 (l) / 1e-3 @derived(mM)
0 (mol) 1 (l) / 1e-6 @derived(uM)
0 (mol) 1 (l) / 1e-9 @derived(nM)

@base(g)
0 (g) 1e3 @derived(kg)
0 (g) 1e-3 @derived(mg)
0 (g) 1e-6 @derived(ug)
0 (g) 1e-9 @derived(ng)
0 (g) 1e-12 @derived(pg)

0 (g) 1 (ml) / 1e3 @derived(w/v)

0 (g) 1 (mol) / 1 @derived(Da)
0 (g) 1 (mol) / 1e3 @derived(kDa)

@base(J)
0 (J) 1e3 @derived(kJ)
0 (J) 1e-3 @derived(mJ)
0 (J) 1e-6 @derived(uJ)
0 (J) 1e-9 @derived(nJ)

0 (J) 1 (s) / 1 @derived(W)
0 (J) 1 (s) / 1e-3 @derived(mW)
0 (J) 1 (s) / 1e3 @derived(kW)
0 (J) 1 (s) / 1e6 @derived(MW)

0 (s) 1 (W) * 3600 @derived(Wh)
0 (s) 1 (W) * 3600e3 @derived(kWh)
0 (s) 1 (W) * 3600e6 @derived(MWh)
